:root {
    --main-width: 95%;
    --secondary-color: #FFBFA0;
}
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: var(--main-width);
    margin: auto;
    max-width: 1200px;
}

.flex-between {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

/****** Barre de Navigation *****************/

nav {
    background: white;
    position: sticky;
    top: 0;
    border-bottom: solid 3px black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 70px;
    align-items: center;
}

nav a:last-child:link {

}

nav li, nav a:link {
    height: 100%;
}

nav a:link, .nav-link:link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.5em;
    border: solid transparent 3px;
    padding: 0 10px;
    transition: background-color .5s;
}

nav a:visited {
    color: #252525;
}

nav a:hover {
  /*  background-color: rgba(197, 197, 197, 0.15);
    border-bottom-color: #E08E45; */
    background-color: yellow;
}

nav:active {
   color: white;
}

/*
LoVe HAte
Link
Visited
Hover
Active
 */





/************ Header ********************/

header {
    background-color: var(--secondary-color);
}

header .flex-between {
    flex-wrap: wrap-reverse;
}

header .text {
    width: 80%;
    text-align: center;
}

header .img {
    width: 60%;
    max-width: 330px;
}

img {
    width: 100%;
}

/******* Cards ***************/

.border, .card {
    border: solid 4px black;
    box-shadow: 8px 8px black;
    border-radius: 15px;
}

.card {
    overflow: hidden;
    height: 400px;
    margin-bottom: 30px;
}

.card-header {
    height: 50%;
    overflow: hidden;
}

.card-body {
    height: 40%;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.card-footer {
    height: 10%;
}

.skills {
    min-height: 500px;

}


@media screen and (min-width: 500px){
    nav ul {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 650px){
    :root {
        --main-width: 90%;
    }
    .flex-between {
        justify-content: space-between;
    }

    header .text {
        width: 40%;
    }

    header .img {
        width: 30%;
    }

    .card {
        width: 45%;
    }

    .card:last-child {
        width: 100%;
    }


}

@media screen and (min-width: 1000px){
    :root {
        --main-width: 80%;
    }
    .card, .card:last-child {
        width: 30%;
    }
}